<div class="container">

    <div class="btn-group row w-100" role="group " aria-label="...">
        <a type="button" routerLink="/admin/users" class="w-33 btn btn-default">Users</a>
        <a type="button" routerLink="/admin/users/vendors"class="w-33 btn btn-default">Vendors</a>
        <a type="button" routerLink="/admin/users/admins" class="w-33 btn btn-default active">Admins</a>
    </div>

    <table class="styled-table">
        <thead>
            <tr>
                <th>Full name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of Admins">
                <td>{{user.FirstName +" "+ user.LastName | titlecase}}</td>
                <td>{{user.Email}}</td>
                <td><button class="btn btn-danger" style="margin-left: 2rem;" (click)="ConfirmDelete(user.Id)">Delete Admin</button></td>
            </tr>
        </tbody>
    </table>

</div>