<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a routerLink="/">Home</a></li>
                
             
                <li class="dropdown" *ngFor="let sub of subctWithChild">

                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{sub.Name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       
                            <li *ngFor="let child of sub.Children">
                        <a (click)="GoToSubProduct(child.Id)">{{child.Name}}</a>
                        
                            </li>
                        
                    </ul>
                </li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->